<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Item</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showHelp()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label>Item Name *</ion-label>
        <ion-input [(ngModel)]="newItem.item_name" name="item_name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="newItem.category" name="category">
          <ion-select-option *ngFor="let c of categories" [value]="c">{{ c }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="newItem.quantity" name="quantity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Price</ion-label>
        <ion-input type="number" step="0.01" [(ngModel)]="newItem.price" name="price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Supplier *</ion-label>
        <ion-input [(ngModel)]="newItem.supplier_name" name="supplier_name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Stock Status</ion-label>
        <ion-select [(ngModel)]="newItem.stock_status" name="stock_status">
          <ion-select-option *ngFor="let s of stockStatuses" [value]="s">{{ s }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Featured</ion-label>
        <ion-select [(ngModel)]="newItem.featured_item" name="featured_item">
          <ion-select-option [value]="1">Yes</ion-select-option>
          <ion-select-option [value]="0">No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Note</ion-label>
        <ion-textarea [(ngModel)]="newItem.special_note" name="special_note"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit" color="success">Save</ion-button>
    <ion-button expand="block" color="medium" (click)="resetForm()">Reset</ion-button>
  </form>
</ion-content>